test.tex
test.pdf
test.log
test.aux
test-tg1.eps
test-tg.tmp
test-tg.py
doc/texgraph-doc.log
cmd.lnk
Butterworth.txt
Bessel.txt
doc/texgraph-doc.toc
doc/texgraph-doc.aux
doc/texgraph-doc-tg2.eps
doc/texgraph-doc-tg1.eps
doc/texgraph-doc-tg.tmp
doc/texgraph-doc-tg.py
